@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    p,a,label{
        font-family: "Barlow", sans-serif;
    }
    .background{
        background-color: rgb(17 24 39);
    }

    .main-green{
        color:  #c2fbd7;
    } 

    .cta-green{
        background-color:#c2fbd7;
    } 

    .cta:hover{
        background-color:#111212;
        border:1px solid #c2fbd7;
    }

    .barlow-semibold {
        font-family: "Barlow", sans-serif;
        font-weight: 600;
        font-style: normal;
      }

    .barlow-regular {
        font-family: "Barlow", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .barlow-medium {
        font-family: "Barlow", sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    .btn{
        @apply rounded border border-indigo-500 bg-indigo-500 px-12 py-3 text-white hover:bg-transparent hover:text-white 
        focus:outline-none focus:ring active:text-opacity-75 sm:w-auto cursor-pointer;
    }

    .btn-small{
        @apply rounded border border-indigo-500 bg-indigo-500 px-6 py-2 text-sm font-medium text-white hover:bg-transparent hover:text-white 
        focus:outline-none focus:ring active:text-opacity-75 sm:w-auto cursor-pointer;
    }

    .alert{
        @apply max-w-lg mx-auto;
    }

    .alert-success{
        @apply bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative
    }
    .alert-info{
        @apply text-white font-semibold;
    }

}